<!-- 产品审核 -->
<meta charset="UTF-8">
<div class="navbar">
    <div class="navbar-inner">
        <ul class="breadcrumb">
            <li>
                <a href="#">首页</a> <span class="divider">/</span>
            </li>
            <li class="active">
                <span class="navTitle"></span>
            </li>
        </ul>
    </div>
</div>
<div class="block">
    <div class="navbar navbar-inner block-header" >
        <div class="muted" style="text-align: center;"><span>查询产品成果</span></div>
    </div>
   <div class="block-content collapse in">
   		<table style="text-align: right;margin-left: 50px;" id="findConditionTable">
            <tbody>
                <tr>
                    <td><span>关键字：</span></td>
                    <td style="padding-top:8px;">
                    	<input type="text" id="produceKey" placeholder="输入关键字" name="produceKey" class="form-input  form-text"/>
                    </td>
                    <td>
                    	<span style="margin-left: 40px;">产品类别：</span>
                   	</td>
                    <td style="padding-top:8px;">
                   		<input type="text" placeholder="选择产品类别" id="produceTypeId" name="produceTypeId" class="form-input form-text"/>
                   		<button type="button" style="width: 80px; margin-right: 84px;margin-top: -10px;" name="产品类别" id="produceType" class="btn btn-default"  onclick="showTreeModal(this);">请选择</button> 
                   	</td> 
                </tr>
                <tr>
                    <td><span>最早发布时间：</span></td>
                    <td style="padding-top:8px;">
                    	<input type="text" id="startDate" name="startDate" class="datepicker" placeholder="选择最早发布时间">
                    </td>
                    <td><span style="margin-left: 40px;">最迟发布时间：</span></td>
                    <td style="padding-top:8px;">
                    	<input type="text" id="endDate" name="endDate" class="datepicker" placeholder="选择最迟发布时间">
                    	<button type="button" class="btn btn-primary" style="width: 80px;margin-top: -10px;" onclick="findProduceAuditCondition();">查询</button>
                        <button  type="button"  class="btn btn-warning" style="width: 80px;margin-top: -10px;" onclick="emptyCondition();">重置</button>
                    </td>
                </tr>
            </tbody>
        </table>
   </div>
</div>
<div class="row-fluid">
	<div class="span5">
		<div class="block">
			<div class="navbar navbar-inner block-header" >
		        <div class="muted" style="text-align: center;"><span>等待审核和正在审核的名单</span>
		        	<span class="badge badge-info resultLength" style="float: right;"></span>
		        </div>
		   </div>
		   <div class="block-content collapse in" style="min-height: 240px;">
		   		<div style="margin-bottom: 10px;">
			   		<select data-placeholder="请选择" class="dept_select chzn-form-select "  id="auditStatusContent" >
					
					</select>
		   		</div>
		   		<table class="table table-bordered">
                     <thead>
                         <tr>
                             <th>产品成果名称</th>
                             <th>申请时间</th>
                             <th>操作</th>
                         </tr>
                     </thead>
                     <tbody id="produceAuditTable">
                   	</tbody>
                 </table>
		   </div>
		</div>
	</div>
	<div class="span7">
		<div class="block">
			<div class="navbar navbar-inner block-header" >
		        <div class="muted" style="text-align: center;"><span>详情</span></div>
		    </div>
		   <div class="block-content collapse in" style="display: none;" id="produceDetails">
		   		<table class="table table-bordered details-table" id="produceDetailsTable">
		   			<tbody>
		   				<tr>
		   					<td style="width:150%;" class="details-title">产品成果名称：</td>
		   					<td>
		   						<span id="produceName" name="produceName" class="details-text"></span>
		   					</td>
		   				</tr>
		   				<tr>
		   					<td class="details-title">产品类别：</td>
		   					<td>
		   						<span id="produceTypeId" name="produceTypeId" class="details-text"></span>
		   					</td>
		   				</tr>
		   				<tr>
		   					<td class="details-title">是否推荐首页展示：</td>
		   					<td>
		   						<span id="isRecommend" name="isRecommend" class="details-text"></span>
		   					</td>
		   				</tr>
		   				<tr>
		   					<td class="details-title">关键字：</td>
		   					<td>
		   						<span id="produceKey" name="produceKey" class="details-text"></span>
	   						</td>
		   				</tr>
		   				<tr>
		   					<td class="details-title">产品描述：</td>
		   					<td>
		   						<span id="produceDesc" name="produceDesc" class="details-text"></span>
		   					</td>
		   				</tr>
		   				<tr>
		   					<td class="details-title">产品成果图：</td>
		   					<td>
		   						<div  class="product-list" id="product-list-Img">
		                        	<ul class="marquee-list" id="produceAuditImgList">
		                        	</ul>
	                       		</div>
		   					</td>
		   				</tr>
		   				<tr>
		   					<td class="details-title">产品首页展示图：</td>
		   					<td>
		   						<div  class="product-list" id="product-list-Img">
		                        	<ul class="marquee-list" id="produceAuditImgList">
		                        		<li class='marquee-item'>
		                        			<img id="homepageImg" class='marquee-image' src="">
		   									<p class='marquee-content'><a href='#'  id="homepageImgText"></a></p> 
		                        		</li>
		                        	</ul>
	                       		</div>
		   					</td>
		   				</tr>
		   			</tbody>
		   		</table>
		   		<div style="text-align:center; margin-bottom: 10px;margin-top: -10px;">
					<button class="btn btn-info" onclick="saveProduceAudit(4);">审核通过</button>
					<button class="btn btn-warning" onclick="fillProduceFalseModal();">审核不通过</button>
				</div>
		   </div>
		</div>
	</div>
</div>