<!-- 发布技术供给 -->
<meta charset="UTF-8">
<div class="navbar">
    <div class="navbar-inner">
        <ul class="breadcrumb">
            <li>
                <a href="#">首页</a> <span class="divider">/</span>
            </li>
            <li class="active">
                <span class="navTitle"></span><span>
                &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                友情提示：您可以填写技术需求信息，提交技术需求，经审核后予以发布&nbsp;！</span>
            </li>
        </ul>
    </div>
</div>
<div>
	<button name="管理我的技术需求" class="btn btn-success" onclick="getTechRequireManagment(this);">管理我的技术需求</button>
</div>
<div class="alert alert-info" style="margin-top: 10px;">
    <strong>提示信息：</strong><span style="color : red;" id="auditMsg"></span>
</div>
<div class="block">
    <div class="navbar navbar-inner block-header" >
        <div class="muted" style="text-align: center;"><span>发布我的技术需求</span></div>
    </div>
   <div class="block-content collapse in" >
   <form id="techRequireForm">
    	 <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="span2 from-title">
                        <b class="fx">*</b>
                        <span>需求名称：</span>
                    </td>
                    <td class="span6">
                        <input type="text" id="infoTitle" name="infoTitle" class="form-input span6 form-text"/>
                    </td>
                </tr>
                <tr>
                    <td class="span2 from-title">
                        <b class="fx">*</b>
                        <span>关键字：</span>
                    </td>
                    <td class="span6">
                       <input type="text" id="infoKey" name="infoKey"  class="form-input span6 form-text"/>
                    </td>
                </tr>
                <tr>
                    <td class="span2 from-title">
                        <b class="fx">*</b>
                        <span>所属行业：</span>
                    </td>
                    <td class="span6">
                        <input type="text" id="industryId"  class="form-input span6 form-select"/>
                         <button type="button" id="industry" name="所属行业" class="btn btn-default" onclick="showTreeModal(this)">请选择</button>
                    </td>
                </tr>
                <tr>
                    <td class="span2 from-title">
                        <b class="fx">*</b>
                        <span>高新技术领域：</span>
                    </td>
                    <td class="span6">
                        <input type="text" id="htfId" class="form-input span6 form-select"/>
                         <button type="button" id="htf" name="高新技术领域" class="btn btn-default" onclick="showTreeModal(this)">请选择</button>
                    </td>
                </tr>
                <tr>
                    <td class="span2 from-title">
                        <b class="fx">*</b>
                        <span>所在地：</span>
                    </td>
                    <td class="span6">
                        <input type="text" id="locationId"   class="form-input span6 form-select"/>
                         <button type="button" id="location" name="所在地" class="btn btn-default" onclick="showTreeModal(this)">请选择</button>
                    </td>
                </tr>
                <tr>
                    <td class="span2 from-title">
                        <span>学科分类：</span>
                    </td>
                    <td class="span6">
                        <input type="text" id="sciId" class="form-input span6 form-select"/>
                        <button type="button" id="sci" name="学科分类" class="btn btn-default" onclick="showTreeModal(this)">请选择</button>
                    </td>
                </tr>
                <tr>
                    <td class="span2 from-title">
                        <span>战略新兴产业：</span>
                    </td>
                    <td class="span6">
                        <select data-placeholder="请选择" class="dept_select chzn-form-select "  id="seIndustryId" name="seIndustryId">
				
       					</select>
                    </td>
                </tr>
                <tr>
                    <td class="span2 from-title">
                        <b class="fx">*</b>
                        <span>来源类型：</span>
                    </td>
                    <td class="span6">
                    	<select data-placeholder="请选择" class="dept_select chzn-form-select "  id="sourceTypeId" name="sourceTypeId">
				
       					</select>
                    </td>
                </tr>
                <tr>
                    <td class="span2 from-title">
                        <b class="fx">*</b>
                        <span>解决时限要求：</span>
                    </td>
                    <td class="span6 from-radio">
                    	<input type="radio" name="timeLimit" value="1"><span>3个月</span>
                        <input type="radio" name="timeLimit" value="2"><span>6个月</span>
                        <input type="radio" name="timeLimit" value="3"><span>长期</span>
                    </td>
                </tr>
                <tr>
                    <td class="span2 from-title">
                        <span>合作方式：</span>
                    </td>
                    <td class="span6 from-radio">
                    	<select data-placeholder="请选择" class="dept_select chzn-form-select "  id="cooperationModeId" name="cooperationModeId">
				
       					</select>
                    </td>
                </tr>
                <tr>
                    <td class="span2 from-title">
                        <b class="fx">*</b>
                        <span>欲投资资金（万）：</span>
                    </td>
                    <td class="span6">
                        <input type="text" id="investmentFunds" name="investmentFunds"  class="form-input span6 form-text"/>
                    </td>
                </tr>
                <tr>
                    <td class="span2 from-title">
                        <b class="fx">*</b>
                        <span>难题描述：</span>
                    </td>
                    <td class="span6">
                        <textarea rows="4" id="problemDescription" name="problemDescription" class="span12 form-text">

                        </textarea>
                    </td>
                </tr>
                <!-- <tr>
                    <td class="span2 from-title">
                        <span>上传图片附件：</span>
                        <p>jpg,jpeg,png格式，不超过1Mb</p>
                    </td>
                    <td class="span6">
						<div class="form-group">
	                        <button type="button" class="btn btn-default" onclick="showSupplyModal('上传图片', 1);">添加图片</button>
                       	</div>
                       	<div class="product-list" id="product-list">
                        	<ul class="marquee-list" id="supplyImgList">
                        	</ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="span2 from-title">
                        <span>上传视频：</span>
                        <p>仅支持flv格式，不超过20Mb</p>
                    </td>
                    <td class="span6">
                    	<div id="videoUrl" style="margin-bottom: 10px;">
	                    		
                    	</div>
						<div class="form-group">
	                        <button type="button" class="btn btn-default" onclick="showSupplyModal('上传视频', 2);">添加视频</button>
                       	</div>
                    </td>
                </tr>
                <tr>
                    <td class="span2 from-title">
                        <span>上传文本附件：</span>
                        <p>仅支持doc,xls,pdf,txt,docx格式，不超过10Mb</p>
                    </td>
                    <td class="span6">
                    	<div id="textUrl" style="margin-bottom: 10px;">
	                    		
                    	</div>
						<div class="form-group">
	                        <button type="button" class="btn btn-default" onclick="showSupplyModal('上传文本附件', 3);">添加文本附件</button>
                       	</div>
                    </td>
                </tr> -->
            </tbody>
        </table>
        
        <div class="block">
		    <div class="navbar navbar-inner block-header" >
		        <div class="muted pull-left"><span>基本信息</span></div>
		    </div>
		    <div class="block-content collapse in">
		        <table class="table table-bordered">
		            <tbody>
		            <tr>
		                <td class="span2 from-title">
		                    <b class="fx">*</b>
		                    <span>联系人：</span>
		                </td>
		                <td class="span4">
		                 	<div class="form-group">
		                    	<input type="text" id="contactName" name="contactName"  class="form-input form-text"/>
		                	</div>
		                </td>
		                <td class="span2 from-title">
		                    <span>联系人职务：</span>
		                </td>
		                <td class="span4">
		                	<div class="form-group">
		                    	<input type="text" id="contactBusiness" name="contactBusiness"  class="form-input form-text"/>
		                	</div>
		                </td>
		            </tr>
		            <tr>
		                <td class="span2 from-title">
		                    <span>联系电话：</span>
		                </td>
		                <td class="span4">
		                	<div class="form-group">
		                    	<input type="text" id="contactNumber" name="contactNumber"  class="form-input form-text"/>
		                	</div>
		                </td>
		                <td class="span2 from-title">
		                    <b class="fx">*</b>
		                    <span>手机号码：</span>
		                </td>
		                <td class="span4">
		                     <div class="form-group">
		                    	<input type="text" id="phoneNumber"  name="phoneNumber" class="form-input form-text"/>
		                	</div>
		                </td>
		            </tr>
		            <tr>
		                <td class="span2 from-title">
		                 	<b class="fx">*</b>
		                    <span>通讯地址：</span>
		                </td>
		                <td class="span4">
		                 	<div class="form-group">
		                    	<input type="text" id="contactAddress"  name="contactAddress" class="form-input form-text"/>
		               		</div>
		                </td>
		                <td class="span2 from-title">
		                	 <b class="fx">*</b>
		                    <span>邮编：</span>
		                </td>
		                <td class="span4">
		                 	<div class="form-group">
		                    	<input type="text" id="postcode" name="postcode" class="form-input form-text"/>
		                	</div>
		                </td>
		            </tr>
		            <tr>
		                <td class="span2 from-title">
		                 	<b class="fx">*</b>
		                    <span>Email：</span>
		                </td>
		                <td class="span4">
		                 	<div class="form-group">
		                    	<input type="email" id="email" name="email"  class="form-input form-text"/>
		                	</div>
		                </td>
		                <td class="span2 from-title">
		                    <span>网址：</span>
		                </td>
		                <td class="span4">
		                	<div class="form-group">
		                    	<input type="text" id="contactUrl" name="contactUrl"  class="form-input form-text"/>
		                	</div>
		                </td>
		            </tr>
		            <tr>
		                <td class="span2 from-title">
		                    <span>传真：</span>
		                </td>
		                <td class="span4">
		                	<div class="form-group">
		                    	<input type="text" id="faxNumber" name="faxNumber"  class="form-input form-text"/>
		                	</div>
		                </td>
		                <td class="span2 from-title">
		                    <span>QQ/MSN：</span>
		                </td>
		                <td class="span4">
		                	<div class="form-group">
		                    	<input type="text" id="qqormsnNumer" name="qqormsnNumer"  class="form-input form-text"/>
		                	</div>
		                </td>
		            </tr>
		            </tbody>
		        </table>
		    </div>
		</div>
   	</form>
    	<!-- 完成信息后的操作 -->
		<div style="text-align: center;">
			<button type="button" class="btn btn-success" onclick="saveTechRequireInfo();">保存为草稿</button>
		    <button type="button" class="btn btn-info" onclick="submitTechRequireInfo();">提交审核</button>
		</div>
    </div>
</div>