<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyu.sati.business.dao.TechSupplyInfoDao">
	<resultMap id="BaseResultMap" type="com.jyu.sati.entity.TechSupplyInfo">
		<id column="TSI_ID" jdbcType="INTEGER" property="tsiId" />
		<result column="INTELLECTUAL_TYPE_ID" jdbcType="INTEGER"
			property="intellectualTypeId" />
		<result column="INTELLECTUAL_CODE" jdbcType="VARCHAR" property="intellectualCode" />
		<result column="RESULT_FORM_ID" jdbcType="INTEGER" property="resultFormId" />
		<result column="RESULT_PROPERTY_ID" jdbcType="INTEGER"
			property="resultPropertyId" />
		<result column="RESULT_STAGE_ID" jdbcType="INTEGER" property="resultStageId" />
		<result column="RESULT_LEVEL_ID" jdbcType="INTEGER" property="resultLevelId" />
		<result column="RESERACH_FORM_ID" jdbcType="INTEGER" property="reserachFormId" />
		<result column="TOPIC_SOURCE_ID" jdbcType="INTEGER" property="topicSourceId" />
		<result column="FIRST_UNIT" jdbcType="VARCHAR" property="firstUnit" />
		<result column="TECHNOLOGY_MATURITY_ID" jdbcType="INTEGER"
			property="technologyMaturityId" />
		<result column="SOURCE_TYPE_ID" jdbcType="INTEGER" property="sourceTypeId" />
		<result column="PRICE" jdbcType="REAL" property="price" />
		<result column="RESULT_INTRODUCTION" jdbcType="LONGVARCHAR"
			property="resultIntroduction" />
		<result column="APPLICATION_RANGE" jdbcType="VARCHAR" property="applicationRange" />
		<result column="PROSPECT_ANALYSIS" jdbcType="VARCHAR" property="prospectAnalysis" />
		<result column="TBI_ID" jdbcType="INTEGER" property="tbiId" />
	</resultMap>
	<sql id="Base_Column_List">
		TSI_ID, INTELLECTUAL_TYPE_ID, INTELLECTUAL_CODE,
		RESULT_FORM_ID,
		RESULT_PROPERTY_ID,
		RESULT_STAGE_ID, RESULT_LEVEL_ID,
		RESERACH_FORM_ID, TOPIC_SOURCE_ID, FIRST_UNIT,
		TECHNOLOGY_MATURITY_ID,
		SOURCE_TYPE_ID, PRICE, RESULT_INTRODUCTION,
		APPLICATION_RANGE,
		PROSPECT_ANALYSIS, TBI_ID
	</sql>


	<!-- 分页列表结果 -->
	<resultMap id="PageResultMap" type="com.jyu.sati.vo.TechOutlineVo">
		<result column="TSI_ID" jdbcType="INTEGER" property="tsiId" />
		<result column="PRICE" jdbcType="INTEGER" property="price" />
		<result column="INFO_TITLE" jdbcType="INTEGER" property="infoTitle" />
		<result column="LOCATION_ID" jdbcType="INTEGER" property="locationId" />
		<result column="HTF_ID" jdbcType="INTEGER" property="htfId" />
		<result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
		<result column="STATUS" jdbcType="INTEGER" property="status" />
		<result column="INDUSTRY_ID" jdbcType="INTEGER" property="industryId" />
		<result column="CONTACT_NAME" jdbcType="INTEGER" property="contactName" />
		<result column="PHONE_NUMBER" jdbcType="INTEGER" property="phoneNumber" />
	</resultMap>

	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from technology_supply_infos
		where TSI_ID = #{tsiId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		technology_supply_infos
		where TSI_ID = #{tsiId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" useGeneratedKeys="true" keyProperty="tsiId"
		parameterType="com.jyu.sati.entity.TechSupplyInfo">
		insert into technology_supply_infos (TSI_ID,
		INTELLECTUAL_TYPE_ID,
		INTELLECTUAL_CODE,
		RESULT_FORM_ID,
		RESULT_PROPERTY_ID, RESULT_STAGE_ID,
		RESULT_LEVEL_ID, RESERACH_FORM_ID,
		TOPIC_SOURCE_ID,
		FIRST_UNIT, TECHNOLOGY_MATURITY_ID, SOURCE_TYPE_ID,
		PRICE, RESULT_INTRODUCTION, APPLICATION_RANGE,
		PROSPECT_ANALYSIS,
		TBI_ID)
		values (#{tsiId,jdbcType=INTEGER},
		#{intellectualTypeId,jdbcType=INTEGER},
		#{intellectualCode,jdbcType=VARCHAR},
		#{resultFormId,jdbcType=INTEGER},
		#{resultPropertyId,jdbcType=INTEGER},
		#{resultStageId,jdbcType=INTEGER},
		#{resultLevelId,jdbcType=INTEGER},
		#{reserachFormId,jdbcType=INTEGER},
		#{topicSourceId,jdbcType=INTEGER},
		#{firstUnit,jdbcType=VARCHAR},
		#{technologyMaturityId,jdbcType=INTEGER},
		#{sourceTypeId,jdbcType=INTEGER},
		#{price,jdbcType=REAL},
		#{resultIntroduction,jdbcType=LONGVARCHAR},
		#{applicationRange,jdbcType=VARCHAR},
		#{prospectAnalysis,jdbcType=VARCHAR}, #{tbiId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" useGeneratedKeys="true"
		keyProperty="tsiId" parameterType="com.jyu.sati.entity.TechSupplyInfo">
		insert into technology_supply_infos
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="tsiId != null">
				TSI_ID,
			</if>
			<if test="intellectualTypeId != null">
				INTELLECTUAL_TYPE_ID,
			</if>
			<if test="intellectualCode != null">
				INTELLECTUAL_CODE,
			</if>
			<if test="resultFormId != null">
				RESULT_FORM_ID,
			</if>
			<if test="resultPropertyId != null">
				RESULT_PROPERTY_ID,
			</if>
			<if test="resultStageId != null">
				RESULT_STAGE_ID,
			</if>
			<if test="resultLevelId != null">
				RESULT_LEVEL_ID,
			</if>
			<if test="reserachFormId != null">
				RESERACH_FORM_ID,
			</if>
			<if test="topicSourceId != null">
				TOPIC_SOURCE_ID,
			</if>
			<if test="firstUnit != null">
				FIRST_UNIT,
			</if>
			<if test="technologyMaturityId != null">
				TECHNOLOGY_MATURITY_ID,
			</if>
			<if test="sourceTypeId != null">
				SOURCE_TYPE_ID,
			</if>
			<if test="price != null">
				PRICE,
			</if>
			<if test="resultIntroduction != null">
				RESULT_INTRODUCTION,
			</if>
			<if test="applicationRange != null">
				APPLICATION_RANGE,
			</if>
			<if test="prospectAnalysis != null">
				PROSPECT_ANALYSIS,
			</if>
			<if test="tbiId != null">
				TBI_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="tsiId != null">
				#{tsiId,jdbcType=INTEGER},
			</if>
			<if test="intellectualTypeId != null">
				#{intellectualTypeId,jdbcType=INTEGER},
			</if>
			<if test="intellectualCode != null">
				#{intellectualCode,jdbcType=VARCHAR},
			</if>
			<if test="resultFormId != null">
				#{resultFormId,jdbcType=INTEGER},
			</if>
			<if test="resultPropertyId != null">
				#{resultPropertyId,jdbcType=INTEGER},
			</if>
			<if test="resultStageId != null">
				#{resultStageId,jdbcType=INTEGER},
			</if>
			<if test="resultLevelId != null">
				#{resultLevelId,jdbcType=INTEGER},
			</if>
			<if test="reserachFormId != null">
				#{reserachFormId,jdbcType=INTEGER},
			</if>
			<if test="topicSourceId != null">
				#{topicSourceId,jdbcType=INTEGER},
			</if>
			<if test="firstUnit != null">
				#{firstUnit,jdbcType=VARCHAR},
			</if>
			<if test="technologyMaturityId != null">
				#{technologyMaturityId,jdbcType=INTEGER},
			</if>
			<if test="sourceTypeId != null">
				#{sourceTypeId,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				#{price,jdbcType=REAL},
			</if>
			<if test="resultIntroduction != null">
				#{resultIntroduction,jdbcType=LONGVARCHAR},
			</if>
			<if test="applicationRange != null">
				#{applicationRange,jdbcType=VARCHAR},
			</if>
			<if test="prospectAnalysis != null">
				#{prospectAnalysis,jdbcType=VARCHAR},
			</if>
			<if test="tbiId != null">
				#{tbiId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jyu.sati.entity.TechSupplyInfo">
		update technology_supply_infos
		<set>
			<if test="intellectualTypeId != null">
				INTELLECTUAL_TYPE_ID =
				#{intellectualTypeId,jdbcType=INTEGER},
			</if>
			<if test="intellectualCode != null">
				INTELLECTUAL_CODE = #{intellectualCode,jdbcType=VARCHAR},
			</if>
			<if test="resultFormId != null">
				RESULT_FORM_ID = #{resultFormId,jdbcType=INTEGER},
			</if>
			<if test="resultPropertyId != null">
				RESULT_PROPERTY_ID =
				#{resultPropertyId,jdbcType=INTEGER},
			</if>
			<if test="resultStageId != null">
				RESULT_STAGE_ID = #{resultStageId,jdbcType=INTEGER},
			</if>
			<if test="resultLevelId != null">
				RESULT_LEVEL_ID = #{resultLevelId,jdbcType=INTEGER},
			</if>
			<if test="reserachFormId != null">
				RESERACH_FORM_ID = #{reserachFormId,jdbcType=INTEGER},
			</if>
			<if test="topicSourceId != null">
				TOPIC_SOURCE_ID = #{topicSourceId,jdbcType=INTEGER},
			</if>
			<if test="firstUnit != null">
				FIRST_UNIT = #{firstUnit,jdbcType=VARCHAR},
			</if>
			<if test="technologyMaturityId != null">
				TECHNOLOGY_MATURITY_ID =
				#{technologyMaturityId,jdbcType=INTEGER},
			</if>
			<if test="sourceTypeId != null">
				SOURCE_TYPE_ID = #{sourceTypeId,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				PRICE = #{price,jdbcType=REAL},
			</if>
			<if test="resultIntroduction != null">
				RESULT_INTRODUCTION =
				#{resultIntroduction,jdbcType=LONGVARCHAR},
			</if>
			<if test="applicationRange != null">
				APPLICATION_RANGE = #{applicationRange,jdbcType=VARCHAR},
			</if>
			<if test="prospectAnalysis != null">
				PROSPECT_ANALYSIS = #{prospectAnalysis,jdbcType=VARCHAR},
			</if>
			<if test="tbiId != null">
				TBI_ID = #{tbiId,jdbcType=INTEGER},
			</if>
		</set>
		where TSI_ID = #{tsiId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jyu.sati.entity.TechSupplyInfo">
		update
		technology_supply_infos
		set INTELLECTUAL_TYPE_ID =
		#{intellectualTypeId,jdbcType=INTEGER},
		INTELLECTUAL_CODE =
		#{intellectualCode,jdbcType=VARCHAR},
		RESULT_FORM_ID =
		#{resultFormId,jdbcType=INTEGER},
		RESULT_PROPERTY_ID =
		#{resultPropertyId,jdbcType=INTEGER},
		RESULT_STAGE_ID =
		#{resultStageId,jdbcType=INTEGER},
		RESULT_LEVEL_ID =
		#{resultLevelId,jdbcType=INTEGER},
		RESERACH_FORM_ID =
		#{reserachFormId,jdbcType=INTEGER},
		TOPIC_SOURCE_ID =
		#{topicSourceId,jdbcType=INTEGER},
		FIRST_UNIT =
		#{firstUnit,jdbcType=VARCHAR},
		TECHNOLOGY_MATURITY_ID =
		#{technologyMaturityId,jdbcType=INTEGER},
		SOURCE_TYPE_ID =
		#{sourceTypeId,jdbcType=INTEGER},
		PRICE = #{price,jdbcType=REAL},
		RESULT_INTRODUCTION = #{resultIntroduction,jdbcType=LONGVARCHAR},
		APPLICATION_RANGE = #{applicationRange,jdbcType=VARCHAR},
		PROSPECT_ANALYSIS = #{prospectAnalysis,jdbcType=VARCHAR},
		TBI_ID =
		#{tbiId,jdbcType=INTEGER}
		where TSI_ID = #{tsiId,jdbcType=INTEGER}
	</update>

	<!-- 更新技术供给状态 -->
	<update id="updateTechSupStatus" parameterType="java.lang.Integer">
		UPDATE
		technology_base_infos
		SET `STATUS` = -`STATUS`
		WHERE
		TBI_ID = (
		SELECT
		TBI_ID
		FROM
		technology_supply_infos
		WHERE
		TSI_ID =
		#{tsiId,jdbcType=INTEGER}
		)
	</update>
	<!-- 更新技术供给状态 -->
	<update id="updateTechSupLimitStatus" parameterType="java.lang.Integer">
		UPDATE
		technology_base_infos
		SET LIMIT_STATUS = -
		LIMIT_STATUS
		WHERE
		TBI_ID = (
		SELECT
		TBI_ID
		FROM
		technology_supply_infos
		WHERE
		TSI_ID =
		#{tsiId,jdbcType=INTEGER}
		)
	</update>

	<select id="getTechSuppplyPageByCondition" parameterType="TechnologyPageVo"
		resultMap="PageResultMap">
		SELECT
		TSI_ID,
		PRICE,
		b.INFO_TITLE,
		b.LOCATION_ID,
		b.HTF_ID,
		b.CREATE_TIME,
		b.`STATUS`,
		c.CONTACT_NAME,
		c.PHONE_NUMBER,
		b.INDUSTRY_ID
		FROM
		technology_supply_infos s
		INNER JOIN technology_base_infos b ON
		b.TBI_ID = s.TBI_ID
		INNER JOIN
		audit_infos a ON b.AUDIT_INFO_ID =
		a.AUDIT_INFO_ID
		INNER JOIN
		contact_infos c ON c.CONTACT_ID =
		b.CONTACT_INFO_ID
		<where>
			<if test="key !=null and key !=''">
				AND
				(
				b.INFO_KEY
				LIKE
				CONCAT('%',#{key,jdbcType=VARCHAR},'%')
				OR
				b.INFO_TITLE
				LIKE
				CONCAT('%',#{key,jdbcType=VARCHAR},'%' )
				)
			</if>
			<if test="startDate != null and startDate != ''">
		<![CDATA[   AND DATE_FORMAT(#{startDate,jdbcType=TIMESTAMP}, '%Y-%m-%d') <= DATE_FORMAT(b.CREATE_TIME, '%Y-%m-%d') ]]>
			</if>
			<if test="endDate != null and endDate != '' ">
		<![CDATA[   AND DATE_FORMAT(#{endDate,jdbcType=TIMESTAMP}, '%Y-%m-%d') >= DATE_FORMAT(b.CREATE_TIME, '%Y-%m-%d') ]]>
			</if>
			<if test=" techStatus !=null ">
				AND b.`STATUS` = #{techStatus,jdbcType=INTEGER}
			</if>
			<if test=" limitStatus !=null ">
				AND b.LIMIT_STATUS = #{limitStatus,jdbcType=INTEGER}
			</if>
			<if test=" auditStatus !=null ">
				AND a.AUDIT_STATUS = #{auditStatus,jdbcType=INTEGER}
			</if>
			<if test=" publisherId !=null and publisherId !='' ">
				AND b.PUBLISHER_ID = #{publisherId,jdbcType=VARCHAR}
			</if>
			<if test=" htfId !=null and htfId !='' ">
				AND b.HTF_ID = #{htfId,jdbcType=INTEGER}
			</if>
			<if test=" industryId !=null and industryId !='' ">
				AND b.INDUSTRY_ID = #{industryId,jdbcType=INTEGER}
			</if>
		</where>
		<if test="publishTimeDescOrAsc !=null">
			ORDER BY
			<if test="publishTimeDescOrAsc = 1 ">
				b.CREATE_TIME ASC
			</if>
			<if test="publishTimeDescOrAsc = 2 ">
				b.CREATE_TIME DESC
			</if>
		</if>
		LIMIT #{pageIndex,jdbcType=INTEGER},
		#{pageSize,jdbcType=INTEGER}
	</select>

	<select id="getTotalNoByCondition" parameterType="TechnologyPageVo"
		resultType="java.lang.Integer">
		SELECT
		COUNT(*)
		FROM
		technology_supply_infos
		s
		INNER JOIN
		technology_base_infos b ON
		b.TBI_ID = s.TBI_ID
		INNER
		JOIN audit_infos
		a ON
		b.AUDIT_INFO_ID =
		a.AUDIT_INFO_ID
		INNER JOIN
		contact_infos c ON
		c.CONTACT_ID =
		b.CONTACT_INFO_ID
		<where>
			<if test="key !=null and key !=''">
				AND
				(
				b.INFO_KEY
				LIKE
				CONCAT('%',#{key,jdbcType=VARCHAR},'%')
				OR
				b.INFO_TITLE
				LIKE
				CONCAT('%',#{key,jdbcType=VARCHAR},'%' )
				)
			</if>
			<if test="startDate != null and startDate != ''">
		<![CDATA[   AND DATE_FORMAT(#{startDate,jdbcType=TIMESTAMP}, '%Y-%m-%d') <= DATE_FORMAT(b.CREATE_TIME, '%Y-%m-%d') ]]>
			</if>
			<if test="endDate != null and endDate != '' ">
		<![CDATA[   AND DATE_FORMAT(#{endDate,jdbcType=TIMESTAMP}, '%Y-%m-%d') >= DATE_FORMAT(b.CREATE_TIME, '%Y-%m-%d') ]]>
			</if>
			<if test=" techStatus !=null ">
				AND b.`STATUS` = #{techStatus,jdbcType=INTEGER}
			</if>
			<if test=" limitStatus !=null ">
				AND b.LIMIT_STATUS = #{limitStatus,jdbcType=INTEGER}
			</if>
			<if test=" auditStatus !=null ">
				AND a.AUDIT_STATUS = #{auditStatus,jdbcType=INTEGER}
			</if>
			<if test=" publisherId !=null and publisherId !='' ">
				AND b.PUBLISHER_ID = #{publisherId,jdbcType=VARCHAR}
			</if>
			<if test=" htfId !=null and htfId !='' ">
				AND b.HTF_ID = #{htfId,jdbcType=INTEGER}
			</if>
			<if test=" industryId !=null and industryId !='' ">
				AND b.INDUSTRY_ID = #{industryId,jdbcType=INTEGER}
			</if>
		</where>
	</select>

	<!-- 根据技术供给id获取发布人账号 -->
	<select id="getPublisherIdByTechSupInfoId" parameterType="java.lang.Integer"
		resultType="java.lang.String">
		SELECT
		b.PUBLISHER_ID
		FROM
		technology_base_infos b
		INNER
		JOIN
		technology_supply_infos s
		ON
		b.TBI_ID = s.TBI_ID
		WHERE
		s.TSI_ID =
		#{tsiId,jdbcType=INTEGER}
	</select>

	<!-- 更新技术供给图片附件 -->
	<update id="updateSupplyImageEnclosure">
		UPDATE technology_base_infos
		SET IMAGE_ID =
		#{enclosureId,jdbcType=INTEGER}
		WHERE
		TBI_ID = (
		SELECT
		TBI_ID
		FROM
		technology_supply_infos s
		WHERE
		s.TSI_ID = #{tsiId,jdbcType=INTEGER}
		)
	</update>

	<!-- 更新技术供给文本附件 -->
	<update id="updateSupplyTextEnclosure">
		UPDATE technology_base_infos
		SET TEXT_ID =
		#{enclosureId,jdbcType=INTEGER}
		WHERE
		TBI_ID = (
		SELECT
		TBI_ID
		FROM
		technology_supply_infos s
		WHERE
		s.TSI_ID = #{tsiId,jdbcType=INTEGER}
		)
	</update>

	<!-- 更新技术供给视频附件 -->
	<update id="updateSupplyVideoEnclosure">
		UPDATE technology_base_infos
		SET VIDEO_ID =
		#{enclosureId,jdbcType=INTEGER}
		WHERE
		TBI_ID = (
		SELECT
		TBI_ID
		FROM
		technology_supply_infos s
		WHERE
		s.TSI_ID = #{tsiId,jdbcType=INTEGER}
		)
	</update>


</mapper>