<meta charset="UTF-8">
<div class="public-container" id="detailsForm" style="width:984px;">
    <div class="details-title">
        <strong><span> 首页 >> <span id="detailsType">通知公告</span></span></strong>
    </div>
    <div class="details-content">
        <div class="content-title">
            <h2><strong><span class="infoTitle"></span></strong></h2>
            <p class="vice-content">
                <span>发布单位：<span class="publisherId"></span></span>
                <span>发布时间：<span class="detailsDate"></span></span>
                <span>关键字：<span class="infoKey"></span></span>
            </p>
        </div>
        <div class="clear"></div>
        <div class="details-content-title">
            <h3><strong><span class="infoTitle"></span></strong></h3>
        </div>
        <div class="details-content-coverage" id="infoContent">
           
        </div>
    </div>
    <div class="details-title">
        <strong><span> 附件</span></strong>
    </div>
    <div class="details-content enclosure">
       <ul>
           <li>
               <a href="" class="fileDesc" id="fileUrl"></a>
               <span class="detailsDate"></span>
           </li>
       </ul>
   </div>
</div>