<meta charset="UTF-8">
<div class="public-container">
    <!-- 头部轮播 -->
    <div class="index-header-carousel">
        <div class="public-container">
            <img src="images/header-run1.png">
        </div>
    </div>

    <!-- 新闻轮播框 -->
    <div class="index-body-carousel">
        <img src="images/body_run.jpg">
    </div>
    <!-- 通知公告 -->
    <div class="notice">
        <div class="title">
            <a href="">通知公告</a>
            <a href="" class="more"></a>
        </div>
        <ul class="notice-list" id="noticeList">
            <!-- <li>
                <a href="#" class="notice-list-item" onclick="getDetails();">
                    <i class="new"></i>关于印发2016年度全省技术市场合同登记情况的通知</a>
                <span>2017-02-28</span>
            </li>
            <li>
                <a href="" class="notice-list-item">
                    关于2016年度山东省技术市场 科技金桥奖奖励的决定</a>
                <span>2017-02-28</span>
            </li>
            <li>
                <a href="" class="notice-list-item">
                    关于2016年度山东省技术市场 科技金桥奖奖励的决定</a>
                <span>2017-02-28</span>
            </li>
            <li>
                <a href="" class="notice-list-item">
                    关于2016年度山东省技术市场 科技金桥奖奖励的决定</a>
                <span>2017-02-28</span>
            </li>
            <li>
                <a href="" class="notice-list-item">
                    关于2016年度山东省技术市场 科技金桥奖奖励的决定</a>
                <span>2017-02-28</span>
            </li>
            <li>
                <a href="" class="notice-list-item">
                    关于2016年度山东省技术市场 科技金桥奖奖励的决定</a>
                <span>2017-02-28</span>
            </li> -->
        </ul>
    </div>
    <!-- 政策法规 -->
    <div class="notice">
        <div class="title">
            <a href="">政策法规</a>
            <a href="" class="more"></a>
        </div>
        <ul class="notice-list" id="policyList">
            <!-- <li>
                <a href="" class="notice-list-item">
                    <i class="new"></i>关于印发2016年度全省技术市场合同登记情况的通知</a>
                <span>2017-02-28</span>
            </li>
            <li>
                <a href="" class="notice-list-item">
                    关于2016年度山东省技术市场 科技金桥奖奖励的决定</a>
                <span>2017-02-28</span>
            </li>
            <li>
                <a href="" class="notice-list-item">
                    关于2016年度山东省技术市场 科技金桥奖奖励的决定</a>
                <span>2017-02-28</span>
            </li>
            <li>
                <a href="" class="notice-list-item">
                    关于2016年度山东省技术市场 科技金桥奖奖励的决定</a>
                <span>2017-02-28</span>
            </li>
            <li>
                <a href="" class="notice-list-item">
                    关于2016年度山东省技术市场 科技金桥奖奖励的决定</a>
                <span>2017-02-28</span>
            </li>
            <li>
                <a href="" class="notice-list-item">
                    关于2016年度山东省技术市场 科技金桥奖奖励的决定</a>
                <span>2017-02-28</span>
            </li> -->
        </ul>
    </div>
    <!-- 广告1 -->
    <div class="body-ad">
        <img src="images/row01.png">
    </div>
</div>
<div class="public-container">
    <!-- 技术供给 -->
    <div class="supply-require" style="min-height: 258px;">
        <div class="title">
            <a href="" class="title-content">技术供给</a>
        </div>
        <!-- 内容列表 -->
        <ul class="list" id="supplyList" >
           <!--  <li style="height : 72px; ">
                <div class="info-title" style="margin-top: 14px;">
                    <i class="info-left"></i>
                    <a href="#" onclick="getSupplyAndDemand();">肌醇生产中有害微生物防控技术</a>
                    <span><i class="item-time"></i>2017-03-04</span>
                     <span><i class="item-instuly"></i>轻工、食品技术</span>
                      <span><i class="item-location"></i>梅州市</span>
                </div>
            </li>
            <li style="height : 72px;">
                <div class="info-title"  style="margin-top: 14px;">
                    <i class="info-left"></i>
                    <a href="#" onclick="getSupplyAndDemand();">肌醇生产中有害微生物防控技术</a>
                    <span><i class="item-time"></i>2017-03-04</span>
                     <span><i class="item-instuly"></i>轻工、食品技术</span>
                      <span><i class="item-location"></i>梅州市</span>
                </div>
            </li>
            <li style="height : 72px;">
                <div class="info-title"  style="margin-top: 14px;">
                    <i class="info-left"></i>
                    <a href="#" onclick="getSupplyAndDemand();">肌醇生产中有害微生物防控技术</a>
                    <span><i class="item-time"></i>2017-03-04</span>
                     <span><i class="item-instuly"></i>轻工、食品技术</span>
                      <span><i class="item-location"></i>梅州市</span>
                </div>
            </li> -->
        </ul>
    </div>
    <div class="member-box" style="margin-bottom: 5px;">
        <div class="title">
            <a href="" class="title-content">科技企业</a>
        </div>
        <ul class="list">
            <li>
                <i class="list-left-hot"></i>
                <a href="">济南凯润进出口有限公司</a>
                <span>济南市</span>
            </li>
            <li>
                <i class="list-left-hot"></i>
                <a href="">济南凯润进出口有限公司</a>
                <span>济南市</span>
            </li>
            <li>
                <i class="list-left-hot"></i>
                <a href="">济南凯润进出口有限公司</a>
                <span>济南市</span>
            </li>
            <li>
                <i class="list-left-hot"></i>
                <a href="">济南凯润进出口有限公司</a>
                <span>济南市</span>
            </li>
            <li>
                <i class="list-left-hot"></i>
                <a href="">济南凯润进出口有限公司</a>
                <span>济南市</span>
            </li>
        </ul>
    </div>
</div>
<div class="public-container">
    <div class="supply-require" style="min-height: 253px;">
        <div class="title">
            <a href="#" class="title-content">技术需求</a>
        </div>
        <!-- 内容列表 -->
        <ul class="list" id="requireList">
           <!--  <li>
                <div class="info-title">
                    <i class="info-left"></i>
                    <a href="">需求印刷行业先进生产技术的职工培训及技术指导</a>
                    <span><i class="item-time"></i>2017-03-03</span>
                </div>
                <p class="info-content">
                    需求印刷行业先进生产技术的职工培训及技术指导，建立夏津职工培训点
                </p>
            </li>
            <li>
                <div class="info-title">
                    <i class="info-left"></i>
                    <a href="#">需求印刷行业先进生产技术的职工培训及技术指导</a>
                    <span><i class="item-time"></i>2017-03-03</span>
                </div>
                <p class="info-content">
                    1.牛二层皮革鞣后湿整饰工段节水技术及化学材料高吸收技术研究；
                    2.牛二层皮革涂饰工段节料技术；
                    3.牛二层皮革水性涂饰技术；
                </p>
            </li>
            <li>
                <div class="info-title">
                    <i class="info-left"></i>
                    <a href="">需求印刷行业先进生产技术的职工培训及技术指导</a>
                    <span><i class="item-time"></i>2017-03-03</span>
                </div>
                <p class="info-content">
                    通过构建高效菌株，直接转化葡萄糖生产木糖醇，质量转化率70%以上，底物浓度不低于30%，反应周期不大于3天。
                </p>
            </li> -->
        </ul>
    </div>
    <div class="member-box">
        <div class="title">
            <a href="" class="title-content">科研单位</a>
        </div>
        <ul class="list">
            <li>
                <i class="list-left-hot"></i>
                <a href="">山东省标准化研究院</a>
                <span>济南市</span>
            </li>
            <li>
                <i class="list-left-hot"></i>
                <a href="">山东省标准化研究院</a>
                <span>济南市</span>
            </li>
            <li>
                <i class="list-left-hot"></i>
                <a href="">山东省标准化研究院</a>
                <span>济南市</span>
            </li>
            <li>
                <i class="list-left-hot"></i>
                <a href="">山东省标准化研究院</a>
                <span>济南市</span>
            </li>
            <li>
                <i class="list-left-hot"></i>
                <a href="">山东省标准化研究院</a>
                <span>济南市</span>
            </li>
        </ul>
    </div>
</div>
<div class="public-container">
   <!--  <div class="body-ad">
        <img src="images/row02.png">
    </div> -->
    <!-- 产品展示 -->
    <div class="column">
        <div class="title">
            <i class="title-icon"></i>
            <span class="title-content"><strong>产品展示</strong></span>
            <a href="" class="more"></a>
        </div>
        <div class="product-list" id="product-list">
            <!--<marquee behavior="scroll"  direction="left" loop="infinite" width="1168" scrollamount="10">-->
                <ul class="marquee-list">
                    <li class="marquee-item">
                        <img class="marquee-image" src="images/demo1.jpg" alt="...">
                        <p class="marquee-content"><a href="#"> 石墨烯及锂离子电池生产应用技术</a> </p>
                    </li>
                    <li class="marquee-item">
                        <img class="marquee-image" src="images/demo2.jpg" alt="...">
                        <p class="marquee-content"><a href="#"> 多弧耦合及多态复合焊接技术</a> </p>
                    </li>
                    <li class="marquee-item">
                        <img class="marquee-image" src="images/demo1.jpg" alt="...">
                        <p class="marquee-content"><a href="#"> 石墨烯及锂离子电池生产应用技术</a> </p>
                    </li>
                    <li class="marquee-item">
                        <img class="marquee-image" src="images/demo2.jpg" alt="...">
                        <p class="marquee-content"><a href="#"> 多弧耦合及多态复合焊接技术</a> </p>
                    </li>
                    <li class="marquee-item">
                        <img class="marquee-image" src="images/demo1.jpg" alt="...">
                        <p class="marquee-content"><a href="#"> 石墨烯及锂离子电池生产应用技术</a> </p>
                    </li>
                    <li class="marquee-item">
                        <img class="marquee-image" src="images/demo2.jpg" alt="...">
                        <p class="marquee-content"><a href="#"> 多弧耦合及多态复合焊接技术</a> </p>
                    </li>
                </ul>
            <!--</marquee>-->
        </div>
    </div>
</div>