<!-- 公告管理页 -->
<meta charset="UTF-8">
<div class="navbar">
    <div class="navbar-inner">
        <ul class="breadcrumb">
            <li>
                <a href="#">首页</a> <span class="divider">/</span>
            </li>
            <li class="active">
                公告管理<span class="nav-attach"></span>
            </li>
        </ul>
    </div>
</div>
<div class="block">
    <div class="navbar navbar-inner block-header">
        <div class="muted pull-left">公告管理</div>
    </div>
    <div class="block-content collapse in">
    </div>
</div>