<meta charset="UTF-8">
<div class="navbar">
    <div class="navbar-inner">
        <ul class="breadcrumb">
            <li>
                <a href="#">首页</a> <span class="divider">/</span>
            </li>
            <li class="active">
                技术<span id="title-name"></span>管理<span class="nav-attach"></span>
            </li>
        </ul>
    </div>
</div>
<div class="block">
    <div class="navbar navbar-inner block-header">
        <div class="muted pull-left">技术<span id="nav-name"></span>基本信息</div>
    </div>
    <div class="block-content collapse in">
        <table style="text-align: right;margin-left: 50px;">
            <tbody>
                <tr>
                    <td><span>所属行业：</span></td>
                    <td style="padding-top:14px;"><input type="text"/></td>
                    <td><span style="margin-left: 40px;">高新技术领域：</span></td>
                    <td style="padding-top:14px;"><input type="text"/></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span>合作方式：</span></td>
                    <td style="padding-top:14px;"><input type="text"/></td>
                    <td><span style="margin-left: 40px;">所在地：</span></td>
                    <td style="padding-top:14px;"><input type="text"/></td>
                    <td style="padding-left: 40px;">
                        <button class="btn btn-primary" style="width: 80px;">查询</button>
                        <button class="btn btn-warning" style="width: 80px;">重置</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="block">
    <div class="navbar navbar-inner block-header">
        <button class="btn btn-success" style="width: 100px;">提交审核</button>
        <button class="btn btn-primary" style="width: 100px;">取消提交</button>
        <button class="btn btn-danger" style="width: 100px;">删除</button>
        <button class="btn btn-info" style="width: 100px;">导出</button>
    </div>
    <div class="block-content collapse in">
       没有符合条件的记录
    </div>

</div>